.avatar-img{
  display: block;
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin: auto;
  border-radius: 100%;
  background-color: white;
}

.custum{
  width: 100px;
  border-radius: 100%;
  display:block;
  margin: auto

}

.login-body{
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.815);
  background-image : url(https://www.vecteezy.com/vector-art/5592423-abstract-blue-and-red-light-out-technology-background-hitech-communication-concept);
}

.user-img{
  height: 250px;
  object-fit: cover;
  object-position: top;
}

.home1{
  background-color: aquamarine;
  height: 100%;
}

.sign{
  min-height: 100vh;
  background-color: darkslategray;
  border-radius: 10%;
}
  
